<html>
	<head>
		<script type="text/javascript" src="http://platform.linkedin.com/in.js">
			api_key: 77tpceylxmgccp
		</script>
	</head>
	<body>
		<script type="in/Login">
			Hello, <?js= firstName ?> <?js= lastName ?>.
		</script>
	</body>
</html>
